body{
	background: url(气泡.jpg) no-repeat;
	background-size:100% 100%;
}
button{
	background: none;
	border:none;
	outline: none;
	cursor:pointer;
}
.btn_bubble1{
	position: absolute;
	left: 28.6%;
	top: 10%;
	width: 18%;
	height: 10%;
	border-radius: 60%;
}
.btn_bubble2{
	position: absolute;
	left: 70%;
	top: 8.2%;
	width: 24%;
	height: 13.6%;
	border-radius: 50%;
}
.btn_bubble3{
	position: absolute;
	top: 21%;
	left: 1%;
	width: 24%;
	height: 13.6%;
	border-radius: 50%;
}
.btn_bubble4{
	position: absolute;
	left: 39%;
	top: 25%;
	width: 30%;
	height: 17%;
	border-radius: 50%;
}
.btn_bubble5{
	position: absolute;
	left: 73%;
	top: 39.5%;
	width: 24%;
	height: 13.6%;
	border-radius: 50%;
}

.btn_customize{
	position: absolute;
	left: 27%;
	top: 64.9%;
	height: 7%;
	width: 46%;
	border-radius: 24%;
}
.shade{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background:gray;
	opacity: 0.5;
	display: none;
}
.pop_window{
	width: 2.3rem;
	height: 3rem;
	position: absolute;
	left: .8rem;
	top: 1.2rem;
	background: #fff;
	z-index: 120;
	display: none;
}
.pop_img{
	width: 100%;
	max-height: 1.69rem;
}
.pop_title{
	width: 2.1rem;
	height: .4rem;
	position: absolute;
	left: .1rem;
	top: 1.8rem;
	font-size: .16rem;
	color: gray;
}
.pop_price{
	width: 1rem;
	height: .23rem;
	position: absolute;
	left: .1rem;
	top: 2.3rem;
	line-height: .23rem;
	font-size: .14rem;
	color: red;
	font-weight: bold;	
}
.pop_history{
	width: .35rem;
	height: .23rem;
	position: absolute;
	right: 0;
	top: 2.29rem;
	line-height: .23rem;
	font-size: .16rem;
	color: gray;	
}
.pop_price:before{
	content: "￥";
	color: red;
	font-weight: bold;
}
.popimg_history{
	width: .2rem;
	height: .2rem;
	position: absolute;
	top: 2.3rem;
	left: 1.7rem;
}
.pop_close{
	position: absolute;
	right: 0;
	top: 0;
	width: .32rem;
	height: .32rem;
	display: block;
}
.pop_close img{
	width: 100%;
	height: 100%;
}
.pop_skipTo{
	width: .8rem;
	height: .3rem;
	border:1px solid black;
	border-radius: .1rem;
	background: #fff;
	position: absolute;
	left: .8rem;
	bottom: .1rem;
	color: gray;
	font-weight: bold;
}