.ensureOrder_head{
	width: 100%;
	height: .4rem;
	border-bottom: 1px solid gray;
}
.btn_headBack{
	width: .6rem;
	height: .4rem;
	position: absolute;
	z-index: 2;
}
.btn_headBack img{
	width: 60%;
	height: 50%;
}
.text_head{
	font-size: .16rem;
	color: #696969;
	text-align: center;
	width: 100%;
	height: .23rem;
	line-height: .23rem;
	position: absolute;
	top: .1rem;
}
button{
	border:0;
	outline: none;
	cursor: pointer;
	background: none;
	font-size: 0;
}
/*标题栏下的图*/
.img_ensure{
	width: 100%;
	max-height: 2.65rem;
}
/*图下面的文字数据*/
.text_price:before{
	content: "价格：￥"
}
.text_style:before{
	content: "样式："
}
.text_num:before{
	content: "数量："
}
.text_userName:before{
	content: "收果人："
}
.text_userPhone:before{
	content: "电话："
}
.text_userAddress:before{
	content: "地址："
}
.ensure_data{
	width: 100%;
}
.data_title{
	width: 3.6rem;
	height: .22rem;
	font-size: .18rem;
	color: #696969;
	font-weight: bold;
	margin-left: .18rem;
}
.data{
	 width: 3.2rem;
	height: .2rem;
	font-size: .17rem;
	color: #696969;
	margin-left: .2rem;
	margin-top: .1rem;
}
.footer_operateBtn {
	height: .5rem;
	width: 100%;
	position: absolute;
	bottom: .4rem;
	font-size: 0;
}
/*修改和支付按钮*/
.footer_operateBtn .btn_change, .footer_operateBtn .btn_pay{
	display: inline-block;
	vertical-align: top;
	width: .8rem;
	height: .4rem;
	font-size: .2rem;
	color: #696969;
	border: 1px solid #696969;
	border-radius: .08rem;
}
.btn_change{
	margin-left: .6rem;
}
.btn_pay{
	margin-left: .8rem;
}